<h2>Hayvon turi:{{animal.name}}</h2>
<h2>Tug'ilgan joyi:{{animal.place}}</h2>
<h2>Vazni:{{animal.kg}}</h2>
<h2>Rangi:{{animal.tel}}</h2>
<h2>Yashash muhiti:{{animal.adap}}</h2>
<h2>Laqabi:{{animal.klich}}</h2>
<h2>Qaysi zo'naga biriktiriishi:{{animal.depart}}</h2>
<h2>Qachondan zooparikda yashashi:{{animal.dat}}</h2>
<h2>Qaysi hodim javob berishi:{{animal.doc}}</h2>