<h2>Ismi:{{person.name}}</h2>
<h2>Familiya:{{person.fm}}</h2>
<h2>Tug'ilgan yili:{{person.email}}</h2>
<h2>Telefon:{{person.tel}}</h2>
<h2>Adress:{{person.vadress}}</h2>
<h2>Qaysi dasturlash tilini biladi:{{person.depart}}</h2>
<h2>Issh tajribasi:{{person.opt}}</h2>
<h2>Rasmi:{{person.img}}</h2>
<h2>Qaysi bo'limga kirmoqchi:{{person.doc}}</h2>