
<h1>{{praduct.name}}</h1>
<h2>Ishlab chiqilgan sana:{{praduct.day}}</h2>
<h2>Firma nomi:{{praduct.fname}}</h2>
<h2>Email:{{praduct.email}}</h2>
<h2>Adress:{{praduct.vadress}}</h2>
<h2>Qaysi tipdagi mahsulot:{{praduct.debat}}</h2>
<h2>Qaysi do'konga tarqatilishi:{{praduct.doc}}</h2>